<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBANqDpFc3r9Cm73L-FE2h1UStov9f5gwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>60188913236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotifymusicApp</string>
	<key>PROJECT_ID</key>
	<string>spotify02-271bc</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify02-271bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60188913236:ios:492e8f20910ecb4a5847c1</string>
</dict>
</plist>